In [1]:
import numpy as np
import pandas as pd
from utils.utils import RandomMultiviewDataset, FillMissingViews, get_sample_views, ConcatenateViews, DropView, SingleView
from sklearn.pipeline import make_pipeline
from IPython.display import display

In [2]:
rmd = RandomMultiviewDataset()
mvd = rmd.create_mvd(n_samples = 100, n_features = [10, 50, 100], n_clusters = [3, 4, 2])
for data in mvd:
    display(data.head())

,0,1,2,3,4,5,6,7,8,9
0,3.029045,7.244785,8.081391,-3.537331,-4.785042,-5.295004,6.084369,1.378375,-9.620476,4.272122
1,-9.570926,5.562820,7.386645,-4.958051,-3.287124,7.323112,-2.578560,3.209061,-9.360714,9.694908
2,1.043796,-10.319718,-0.074272,-6.053272,1.352345,-2.248341,-0.193152,1.296685,7.259875,2.114060
3,-7.979417,4.121822,6.758702,-5.753289,-5.112123,8.194211,-2.722961,3.624735,-10.043684,8.722767
4,0.629798,-11.640580,0.192864,-4.513441,3.536321,2.048636,0.353685,0.820676,11.740455,0.516544

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,10.798221,-0.409665,-1.429005,3.592050,8.673434,5.429312,0.377935,-1.798688,-8.890580,-4.444564,...,-5.635402,-9.395428,2.450020,-4.612343,1.546929,-9.600134,-8.319605,0.167042,1.545524,2.596231
1,3.434555,-7.273533,9.355622,-5.303124,-8.160932,-0.179031,-2.955505,-2.487199,-6.705506,6.895837,...,-0.847804,-6.168744,-7.906256,2.706316,-3.335026,-6.037644,7.426024,-4.641645,2.242469,-10.211812
2,-3.435489,-5.249160,-1.974427,9.021032,4.084212,-8.181831,5.839899,1.372118,-7.301951,-0.650976,...,-4.665033,-2.034277,7.166141,-0.938592,-7.985311,5.594736,-8.301136,-0.261711,4.173491,8.701512
3,-4.334600,-4.389789,-2.963408,8.459171,4.142775,-8.730851,4.168605,1.806244,-6.636593,-3.582949,...,-5.484324,0.998265,9.647254,-1.224711,-8.141610,5.127769,-6.299424,1.251070,4.085851,9.183165
4,9.538147,-1.778972,-3.397697,2.762671,9.934646,4.629400,0.580830,0.363059,-8.803936,-2.703146,...,-4.664539,-8.505912,0.481072,-5.708104,1.118483,-9.858144,-7.431887,-0.700858,0.509368,0.942566

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-8.000974,-1.351272,-1.956938,-0.035368,4.208428,-3.139333,-7.168076,-5.069437,4.919810,1.608517,...,7.366578,-8.450254,1.056983,2.296499,-2.421348,7.046726,2.620367,-0.906882,7.567613,-7.119959
1,-8.881467,-3.250763,9.536023,-8.476378,1.228105,-5.255132,-6.362039,-8.170530,3.763875,-0.354774,...,2.864950,1.623736,5.139627,8.542810,-7.646251,-2.666711,-4.774392,7.495970,-3.944853,-9.692166
2,-6.279515,-3.339647,8.840159,-9.348221,0.854410,-3.801407,-7.356789,-10.460044,0.530543,-4.316947,...,3.459343,-0.724042,5.215467,5.732373,-6.794864,1.099281,-5.214248,7.196863,-2.608168,-10.358773
3,-7.424757,-3.179420,10.139214,-10.052964,2.600376,-4.660626,-7.793125,-6.087737,2.136529,-3.502812,...,4.283096,1.145199,6.427802,7.213298,-7.713131,-0.549124,-6.275734,7.946114,-3.020269,-10.069498
4,-6.809644,-1.044572,9.554259,-7.244321,3.300875,-6.418155,-7.792757,-8.262058,3.340932,-3.383894,...,2.427240,3.028468,6.643662,5.999578,-7.649018,-1.869152,-4.543241,6.885597,-3.154657,-8.828482

In [3]:
sample_views = rmd.add_sample_views(mvd = mvd, p = [0.2, 0.3, 0.5])
sample_views

    0  1  2
0   1  1  0
1   0  1  0
2   1  1  0
3   1  1  1
4   1  1  1
.. .. .. ..
95  1  1  1
96  1  1  1
97  1  1  0
98  0  1  1
99  1  1  1

[100 rows x 3 columns]

In [4]:
imvd = rmd.add_missing_views(mvd = mvd, sample_views = sample_views)
for data in imvd:
    display(data.head())

,0,1,2,3,4,5,6,7,8,9
0,3.029045,7.244785,8.081391,-3.537331,-4.785042,-5.295004,6.084369,1.378375,-9.620476,4.272122
2,1.043796,-10.319718,-0.074272,-6.053272,1.352345,-2.248341,-0.193152,1.296685,7.259875,2.114060
3,-7.979417,4.121822,6.758702,-5.753289,-5.112123,8.194211,-2.722961,3.624735,-10.043684,8.722767
4,0.629798,-11.640580,0.192864,-4.513441,3.536321,2.048636,0.353685,0.820676,11.740455,0.516544
6,-8.730469,4.305096,6.098737,-5.757841,-3.922202,6.296286,0.494435,4.356023,-8.204501,9.519510

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,10.798221,-0.409665,-1.429005,3.592050,8.673434,5.429312,0.377935,-1.798688,-8.890580,-4.444564,...,-5.635402,-9.395428,2.450020,-4.612343,1.546929,-9.600134,-8.319605,0.167042,1.545524,2.596231
1,3.434555,-7.273533,9.355622,-5.303124,-8.160932,-0.179031,-2.955505,-2.487199,-6.705506,6.895837,...,-0.847804,-6.168744,-7.906256,2.706316,-3.335026,-6.037644,7.426024,-4.641645,2.242469,-10.211812
2,-3.435489,-5.249160,-1.974427,9.021032,4.084212,-8.181831,5.839899,1.372118,-7.301951,-0.650976,...,-4.665033,-2.034277,7.166141,-0.938592,-7.985311,5.594736,-8.301136,-0.261711,4.173491,8.701512
3,-4.334600,-4.389789,-2.963408,8.459171,4.142775,-8.730851,4.168605,1.806244,-6.636593,-3.582949,...,-5.484324,0.998265,9.647254,-1.224711,-8.141610,5.127769,-6.299424,1.251070,4.085851,9.183165
4,9.538147,-1.778972,-3.397697,2.762671,9.934646,4.629400,0.580830,0.363059,-8.803936,-2.703146,...,-4.664539,-8.505912,0.481072,-5.708104,1.118483,-9.858144,-7.431887,-0.700858,0.509368,0.942566

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
3,-7.424757,-3.179420,10.139214,-10.052964,2.600376,-4.660626,-7.793125,-6.087737,2.136529,-3.502812,...,4.283096,1.145199,6.427802,7.213298,-7.713131,-0.549124,-6.275734,7.946114,-3.020269,-10.069498
4,-6.809644,-1.044572,9.554259,-7.244321,3.300875,-6.418155,-7.792757,-8.262058,3.340932,-3.383894,...,2.427240,3.028468,6.643662,5.999578,-7.649018,-1.869152,-4.543241,6.885597,-3.154657,-8.828482
5,-7.769026,-2.547010,9.087713,-8.221921,1.014170,-5.129318,-8.981710,-7.227250,3.129632,-4.434278,...,2.307361,1.481564,7.873042,7.029133,-7.269222,-2.578901,-5.758878,7.244346,-4.153937,-10.615678
6,-8.999100,-1.963495,9.149526,-9.001121,1.413350,-5.938892,-6.404036,-8.141927,-0.196499,-3.375893,...,3.072429,2.257640,7.075709,5.042646,-6.085630,0.801012,-5.772810,7.794582,-4.219794,-10.418888
8,-8.316701,-1.793026,-3.692270,-0.255837,2.618201,-4.108763,-7.221329,-5.163851,5.574665,0.789161,...,7.998376,-9.685707,4.154727,1.377757,-3.771671,6.567936,3.445876,-2.294238,8.109504,-8.722999

In [5]:
get_sample_views(imvd= imvd)

    0  1  2
0   1  1  0
1   0  1  0
2   1  1  0
3   1  1  1
4   1  1  1
.. .. .. ..
95  1  1  1
96  1  1  1
97  1  1  0
98  0  1  1
99  1  1  1

[100 rows x 3 columns]

In [6]:
filled_imvd = FillMissingViews(value= 'zeros').transform(X = imvd)
for data in filled_imvd:
    display(data.head())

,0,1,2,3,4,5,6,7,8,9
0,3.029045,7.244785,8.081391,-3.537331,-4.785042,-5.295004,6.084369,1.378375,-9.620476,4.272122
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,1.043796,-10.319718,-0.074272,-6.053272,1.352345,-2.248341,-0.193152,1.296685,7.259875,2.114060
3,-7.979417,4.121822,6.758702,-5.753289,-5.112123,8.194211,-2.722961,3.624735,-10.043684,8.722767
4,0.629798,-11.640580,0.192864,-4.513441,3.536321,2.048636,0.353685,0.820676,11.740455,0.516544

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,10.798221,-0.409665,-1.429005,3.592050,8.673434,5.429312,0.377935,-1.798688,-8.890580,-4.444564,...,-5.635402,-9.395428,2.450020,-4.612343,1.546929,-9.600134,-8.319605,0.167042,1.545524,2.596231
1,3.434555,-7.273533,9.355622,-5.303124,-8.160932,-0.179031,-2.955505,-2.487199,-6.705506,6.895837,...,-0.847804,-6.168744,-7.906256,2.706316,-3.335026,-6.037644,7.426024,-4.641645,2.242469,-10.211812
2,-3.435489,-5.249160,-1.974427,9.021032,4.084212,-8.181831,5.839899,1.372118,-7.301951,-0.650976,...,-4.665033,-2.034277,7.166141,-0.938592,-7.985311,5.594736,-8.301136,-0.261711,4.173491,8.701512
3,-4.334600,-4.389789,-2.963408,8.459171,4.142775,-8.730851,4.168605,1.806244,-6.636593,-3.582949,...,-5.484324,0.998265,9.647254,-1.224711,-8.141610,5.127769,-6.299424,1.251070,4.085851,9.183165
4,9.538147,-1.778972,-3.397697,2.762671,9.934646,4.629400,0.580830,0.363059,-8.803936,-2.703146,...,-4.664539,-8.505912,0.481072,-5.708104,1.118483,-9.858144,-7.431887,-0.700858,0.509368,0.942566

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,-7.424757,-3.179420,10.139214,-10.052964,2.600376,-4.660626,-7.793125,-6.087737,2.136529,-3.502812,...,4.283096,1.145199,6.427802,7.213298,-7.713131,-0.549124,-6.275734,7.946114,-3.020269,-10.069498
4,-6.809644,-1.044572,9.554259,-7.244321,3.300875,-6.418155,-7.792757,-8.262058,3.340932,-3.383894,...,2.427240,3.028468,6.643662,5.999578,-7.649018,-1.869152,-4.543241,6.885597,-3.154657,-8.828482

In [7]:
filled_imvd = FillMissingViews(value= 'mean').fit_transform(X = imvd)
for data in filled_imvd:
    display(data.head())

,0,1,2,3,4,5,6,7,8,9
0,3.029045,7.244785,8.081391,-3.537331,-4.785042,-5.295004,6.084369,1.378375,-9.620476,4.272122
1,-1.689823,1.141940,4.644405,-4.937125,-1.925488,0.429994,1.154785,1.915091,-2.227004,5.663669
2,1.043796,-10.319718,-0.074272,-6.053272,1.352345,-2.248341,-0.193152,1.296685,7.259875,2.114060
3,-7.979417,4.121822,6.758702,-5.753289,-5.112123,8.194211,-2.722961,3.624735,-10.043684,8.722767
4,0.629798,-11.640580,0.192864,-4.513441,3.536321,2.048636,0.353685,0.820676,11.740455,0.516544

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,10.798221,-0.409665,-1.429005,3.592050,8.673434,5.429312,0.377935,-1.798688,-8.890580,-4.444564,...,-5.635402,-9.395428,2.450020,-4.612343,1.546929,-9.600134,-8.319605,0.167042,1.545524,2.596231
1,3.434555,-7.273533,9.355622,-5.303124,-8.160932,-0.179031,-2.955505,-2.487199,-6.705506,6.895837,...,-0.847804,-6.168744,-7.906256,2.706316,-3.335026,-6.037644,7.426024,-4.641645,2.242469,-10.211812
2,-3.435489,-5.249160,-1.974427,9.021032,4.084212,-8.181831,5.839899,1.372118,-7.301951,-0.650976,...,-4.665033,-2.034277,7.166141,-0.938592,-7.985311,5.594736,-8.301136,-0.261711,4.173491,8.701512
3,-4.334600,-4.389789,-2.963408,8.459171,4.142775,-8.730851,4.168605,1.806244,-6.636593,-3.582949,...,-5.484324,0.998265,9.647254,-1.224711,-8.141610,5.127769,-6.299424,1.251070,4.085851,9.183165
4,9.538147,-1.778972,-3.397697,2.762671,9.934646,4.629400,0.580830,0.363059,-8.803936,-2.703146,...,-4.664539,-8.505912,0.481072,-5.708104,1.118483,-9.858144,-7.431887,-0.700858,0.509368,0.942566

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-8.689199,-2.652674,3.899462,-4.735589,2.588453,-3.932139,-7.394495,-6.731502,3.287964,-1.412238,...,5.061760,-3.027817,5.192183,5.027609,-5.805675,2.712071,-1.200526,3.113247,1.462646,-8.838429
1,-8.689199,-2.652674,3.899462,-4.735589,2.588453,-3.932139,-7.394495,-6.731502,3.287964,-1.412238,...,5.061760,-3.027817,5.192183,5.027609,-5.805675,2.712071,-1.200526,3.113247,1.462646,-8.838429
2,-8.689199,-2.652674,3.899462,-4.735589,2.588453,-3.932139,-7.394495,-6.731502,3.287964,-1.412238,...,5.061760,-3.027817,5.192183,5.027609,-5.805675,2.712071,-1.200526,3.113247,1.462646,-8.838429
3,-7.424757,-3.179420,10.139214,-10.052964,2.600376,-4.660626,-7.793125,-6.087737,2.136529,-3.502812,...,4.283096,1.145199,6.427802,7.213298,-7.713131,-0.549124,-6.275734,7.946114,-3.020269,-10.069498
4,-6.809644,-1.044572,9.554259,-7.244321,3.300875,-6.418155,-7.792757,-8.262058,3.340932,-3.383894,...,2.427240,3.028468,6.643662,5.999578,-7.649018,-1.869152,-4.543241,6.885597,-3.154657,-8.828482

In [8]:
drop_view_imvd = DropView(view_idx= 1).transform(X = imvd)
for data in drop_view_imvd:
    display(data.head())

,0,1,2,3,4,5,6,7,8,9
0,3.029045,7.244785,8.081391,-3.537331,-4.785042,-5.295004,6.084369,1.378375,-9.620476,4.272122
2,1.043796,-10.319718,-0.074272,-6.053272,1.352345,-2.248341,-0.193152,1.296685,7.259875,2.114060
3,-7.979417,4.121822,6.758702,-5.753289,-5.112123,8.194211,-2.722961,3.624735,-10.043684,8.722767
4,0.629798,-11.640580,0.192864,-4.513441,3.536321,2.048636,0.353685,0.820676,11.740455,0.516544
6,-8.730469,4.305096,6.098737,-5.757841,-3.922202,6.296286,0.494435,4.356023,-8.204501,9.519510

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
3,-7.424757,-3.179420,10.139214,-10.052964,2.600376,-4.660626,-7.793125,-6.087737,2.136529,-3.502812,...,4.283096,1.145199,6.427802,7.213298,-7.713131,-0.549124,-6.275734,7.946114,-3.020269,-10.069498
4,-6.809644,-1.044572,9.554259,-7.244321,3.300875,-6.418155,-7.792757,-8.262058,3.340932,-3.383894,...,2.427240,3.028468,6.643662,5.999578,-7.649018,-1.869152,-4.543241,6.885597,-3.154657,-8.828482
5,-7.769026,-2.547010,9.087713,-8.221921,1.014170,-5.129318,-8.981710,-7.227250,3.129632,-4.434278,...,2.307361,1.481564,7.873042,7.029133,-7.269222,-2.578901,-5.758878,7.244346,-4.153937,-10.615678
6,-8.999100,-1.963495,9.149526,-9.001121,1.413350,-5.938892,-6.404036,-8.141927,-0.196499,-3.375893,...,3.072429,2.257640,7.075709,5.042646,-6.085630,0.801012,-5.772810,7.794582,-4.219794,-10.418888
8,-8.316701,-1.793026,-3.692270,-0.255837,2.618201,-4.108763,-7.221329,-5.163851,5.574665,0.789161,...,7.998376,-9.685707,4.154727,1.377757,-3.771671,6.567936,3.445876,-2.294238,8.109504,-8.722999

In [9]:
sv = SingleView(view_idx= 1).transform(X = imvd)
sv.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,10.798221,-0.409665,-1.429005,3.592050,8.673434,5.429312,0.377935,-1.798688,-8.890580,-4.444564,...,-5.635402,-9.395428,2.450020,-4.612343,1.546929,-9.600134,-8.319605,0.167042,1.545524,2.596231
1,3.434555,-7.273533,9.355622,-5.303124,-8.160932,-0.179031,-2.955505,-2.487199,-6.705506,6.895837,...,-0.847804,-6.168744,-7.906256,2.706316,-3.335026,-6.037644,7.426024,-4.641645,2.242469,-10.211812
2,-3.435489,-5.249160,-1.974427,9.021032,4.084212,-8.181831,5.839899,1.372118,-7.301951,-0.650976,...,-4.665033,-2.034277,7.166141,-0.938592,-7.985311,5.594736,-8.301136,-0.261711,4.173491,8.701512
3,-4.334600,-4.389789,-2.963408,8.459171,4.142775,-8.730851,4.168605,1.806244,-6.636593,-3.582949,...,-5.484324,0.998265,9.647254,-1.224711,-8.141610,5.127769,-6.299424,1.251070,4.085851,9.183165
4,9.538147,-1.778972,-3.397697,2.762671,9.934646,4.629400,0.580830,0.363059,-8.803936,-2.703146,...,-4.664539,-8.505912,0.481072,-5.708104,1.118483,-9.858144,-7.431887,-0.700858,0.509368,0.942566

In [10]:
new_mvd = FillMissingViews(value= 'mean').fit_transform(X = imvd)
ConcatenateViews().transform(X = new_mvd)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,3.029045,7.244785,8.081391,-3.537331,-4.785042,-5.295004,6.084369,1.378375,-9.620476,4.272122,...,5.061760,-3.027817,5.192183,5.027609,-5.805675,2.712071,-1.200526,3.113247,1.462646,-8.838429
1,-1.689823,1.141940,4.644405,-4.937125,-1.925488,0.429994,1.154785,1.915091,-2.227004,5.663669,...,5.061760,-3.027817,5.192183,5.027609,-5.805675,2.712071,-1.200526,3.113247,1.462646,-8.838429
2,1.043796,-10.319718,-0.074272,-6.053272,1.352345,-2.248341,-0.193152,1.296685,7.259875,2.114060,...,5.061760,-3.027817,5.192183,5.027609,-5.805675,2.712071,-1.200526,3.113247,1.462646,-8.838429
3,-7.979417,4.121822,6.758702,-5.753289,-5.112123,8.194211,-2.722961,3.624735,-10.043684,8.722767,...,4.283096,1.145199,6.427802,7.213298,-7.713131,-0.549124,-6.275734,7.946114,-3.020269,-10.069498
4,0.629798,-11.640580,0.192864,-4.513441,3.536321,2.048636,0.353685,0.820676,11.740455,0.516544,...,2.427240,3.028468,6.643662,5.999578,-7.649018,-1.869152,-4.543241,6.885597,-3.154657,-8.828482
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-0.655072,-7.446269,-1.055764,-3.055537,3.478152,1.204181,1.693444,1.735861,10.791625,2.935813,...,8.601779,-7.828567,2.488701,3.185650,-6.746365,8.218054,2.944748,-2.407802,6.804712,-6.555030
96,-0.694100,-10.772544,-0.744597,-4.352583,1.418954,-0.296442,-0.034027,1.624191,9.298500,3.402741,...,3.048420,2.347407,8.108224,6.913633,-7.569978,-0.471612,-6.036903,7.066828,-4.614170,-10.574597
97,-8.561291,5.648921,6.078542,-5.912806,-2.645436,6.854008,-1.880920,2.116431,-9.144167,11.378359,...,5.061760,-3.027817,5.192183,5.027609,-5.805675,2.712071,-1.200526,3.113247,1.462646,-8.838429
98,-1.689823,1.141940,4.644405,-4.937125,-1.925488,0.429994,1.154785,1.915091,-2.227004,5.663669,...,1.483536,2.982583,6.956739,8.170305,-5.957985,0.478007,-4.616751,9.538755,-2.913633,-10.770992
99,4.539985,8.874039,7.927882,-3.394307,-4.774918,-6.529236,5.142952,2.392350,-8.165251,6.964972,...,3.458071,0.739511,6.519899,6.713940,-8.947599,-2.270805,-4.874361,6.757764,-2.129633,-7.785224

In [11]:
make_pipeline(FillMissingViews(value= 'mean'), ConcatenateViews()).fit_transform(X = imvd)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,3.029045,7.244785,8.081391,-3.537331,-4.785042,-5.295004,6.084369,1.378375,-9.620476,4.272122,...,5.061760,-3.027817,5.192183,5.027609,-5.805675,2.712071,-1.200526,3.113247,1.462646,-8.838429
1,-1.689823,1.141940,4.644405,-4.937125,-1.925488,0.429994,1.154785,1.915091,-2.227004,5.663669,...,5.061760,-3.027817,5.192183,5.027609,-5.805675,2.712071,-1.200526,3.113247,1.462646,-8.838429
2,1.043796,-10.319718,-0.074272,-6.053272,1.352345,-2.248341,-0.193152,1.296685,7.259875,2.114060,...,5.061760,-3.027817,5.192183,5.027609,-5.805675,2.712071,-1.200526,3.113247,1.462646,-8.838429
3,-7.979417,4.121822,6.758702,-5.753289,-5.112123,8.194211,-2.722961,3.624735,-10.043684,8.722767,...,4.283096,1.145199,6.427802,7.213298,-7.713131,-0.549124,-6.275734,7.946114,-3.020269,-10.069498
4,0.629798,-11.640580,0.192864,-4.513441,3.536321,2.048636,0.353685,0.820676,11.740455,0.516544,...,2.427240,3.028468,6.643662,5.999578,-7.649018,-1.869152,-4.543241,6.885597,-3.154657,-8.828482
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-0.655072,-7.446269,-1.055764,-3.055537,3.478152,1.204181,1.693444,1.735861,10.791625,2.935813,...,8.601779,-7.828567,2.488701,3.185650,-6.746365,8.218054,2.944748,-2.407802,6.804712,-6.555030
96,-0.694100,-10.772544,-0.744597,-4.352583,1.418954,-0.296442,-0.034027,1.624191,9.298500,3.402741,...,3.048420,2.347407,8.108224,6.913633,-7.569978,-0.471612,-6.036903,7.066828,-4.614170,-10.574597
97,-8.561291,5.648921,6.078542,-5.912806,-2.645436,6.854008,-1.880920,2.116431,-9.144167,11.378359,...,5.061760,-3.027817,5.192183,5.027609,-5.805675,2.712071,-1.200526,3.113247,1.462646,-8.838429
98,-1.689823,1.141940,4.644405,-4.937125,-1.925488,0.429994,1.154785,1.915091,-2.227004,5.663669,...,1.483536,2.982583,6.956739,8.170305,-5.957985,0.478007,-4.616751,9.538755,-2.913633,-10.770992
99,4.539985,8.874039,7.927882,-3.394307,-4.774918,-6.529236,5.142952,2.392350,-8.165251,6.964972,...,3.458071,0.739511,6.519899,6.713940,-8.947599,-2.270805,-4.874361,6.757764,-2.129633,-7.785224