In [1]:
cd ../src

/home/alberto/Work/incomplete_multiview_clustering/src

In [2]:
import numpy as np
import pandas as pd
from utils import RandomMultiviewDataset, FillMissingViews, get_sample_views, ConcatenateViews, DropView, SingleView
from sklearn.pipeline import make_pipeline
from IPython.display import display

In [3]:
rmd = RandomMultiviewDataset()
mvd = rmd.create_mvd(n_samples = 100, n_features = [10, 50, 100], n_clusters = [3, 4, 2])
for data in mvd:
    display(data.head())

,0,1,2,3,4,5,6,7,8,9
0,-9.437049,-5.170246,-7.501671,-5.848299,0.828659,1.315599,-6.543098,-2.588427,-7.237090,-0.184917
1,3.307239,8.582922,0.271986,9.360696,-6.787514,1.829022,-3.423539,-2.566740,2.947008,3.020472
2,-8.183112,-5.400762,-4.631482,-5.709188,0.325871,2.155348,-7.026185,-1.831573,-8.409182,0.948450
3,-6.261019,1.459408,-1.301109,9.875763,2.067989,5.502813,2.581591,0.070228,9.566446,3.065189
4,1.690971,10.365474,1.491066,8.781796,-5.986686,1.718489,-2.280560,-1.586425,0.799738,1.099873

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,-4.208476,-8.137040,-7.901853,4.041220,-7.901949,0.202736,-2.990744,-4.340226,5.753533,8.395155,...,-7.378446,-5.435136,9.600671,-1.707058,3.210976,10.299851,3.641990,4.588519,-2.037658,-8.915986
1,-3.765637,-6.211230,-5.687638,2.518853,-6.312409,-0.710023,-2.855138,-5.514847,5.585427,8.847646,...,-6.103076,-5.427533,9.770415,-2.162330,3.113082,7.837019,3.893512,3.093911,-1.975194,-7.680413
2,-3.175811,-7.119434,-6.404559,4.107396,-9.060225,1.187730,-6.292475,-3.096661,6.128900,7.448147,...,-6.693590,-4.793063,9.772724,-3.313291,1.445040,11.548144,2.635363,2.890684,-1.753646,-6.229915
3,3.608136,-4.705520,-1.539010,-3.448544,-5.209696,9.015113,4.398528,3.154238,3.549457,6.781532,...,7.391583,8.249997,-10.699740,-2.429319,-5.072741,6.287170,-2.227249,0.107252,-2.646255,8.348695
4,-1.283158,7.638089,9.034423,-1.891582,-5.889227,1.532178,7.095801,-2.747241,-5.817296,3.454908,...,2.322825,7.101319,-1.346586,-5.994927,3.059452,5.886206,4.193807,-6.490186,-5.469032,3.100742

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-4.611046,-0.917978,6.049327,3.114469,8.434454,-1.530758,3.242945,-6.516209,-3.405032,-2.090278,...,7.938300,5.136927,0.657974,4.210622,-2.357530,6.065441,-5.981252,4.550518,-10.122051,-4.297943
1,0.859289,6.333856,-8.949360,4.163851,7.451443,9.402996,9.922675,-2.988606,3.621887,-2.685979,...,2.916687,2.994455,-3.621583,8.431512,7.009924,3.822223,-5.581592,4.682196,1.051351,-4.247584
2,-6.252210,1.131591,6.130302,2.423293,8.989780,-0.872485,2.242772,-7.108846,-4.131235,-1.005304,...,8.717916,5.922435,-1.013512,3.301510,-2.048946,3.865217,-4.848828,4.898088,-9.196616,-4.048188
3,-5.184865,-0.358647,7.693848,2.867845,10.006188,-3.272800,1.974871,-8.620896,-5.412755,-1.262756,...,8.634814,6.770541,-1.770601,5.348131,-3.712325,7.250548,-4.606786,2.521844,-8.458426,-4.638388
4,2.065558,5.694971,-9.265169,3.911352,6.021212,8.235543,10.819531,-3.057064,2.302536,-1.975200,...,2.184140,4.135185,-2.746155,8.025380,4.416018,4.433652,-6.648464,3.479415,-0.483104,-4.976666

In [4]:
sample_views = rmd.add_sample_views(mvd = mvd, p = [0.2, 0.3, 0.5])
sample_views

    0  1  2
0   1  0  0
1   1  1  1
2   1  1  0
3   0  0  1
4   1  1  0
.. .. .. ..
95  0  1  1
96  1  1  0
97  1  1  0
98  1  1  0
99  1  0  1

[100 rows x 3 columns]

In [5]:
imvd = rmd.add_missing_views(mvd = mvd, sample_views = sample_views)
for data in imvd:
    display(data.head())

,0,1,2,3,4,5,6,7,8,9
0,-9.437049,-5.170246,-7.501671,-5.848299,0.828659,1.315599,-6.543098,-2.588427,-7.237090,-0.184917
1,3.307239,8.582922,0.271986,9.360696,-6.787514,1.829022,-3.423539,-2.566740,2.947008,3.020472
2,-8.183112,-5.400762,-4.631482,-5.709188,0.325871,2.155348,-7.026185,-1.831573,-8.409182,0.948450
4,1.690971,10.365474,1.491066,8.781796,-5.986686,1.718489,-2.280560,-1.586425,0.799738,1.099873
6,-4.758829,3.567343,-2.625574,8.929640,3.621543,4.113232,3.201250,0.632426,9.038654,6.962609

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
1,-3.765637,-6.211230,-5.687638,2.518853,-6.312409,-0.710023,-2.855138,-5.514847,5.585427,8.847646,...,-6.103076,-5.427533,9.770415,-2.162330,3.113082,7.837019,3.893512,3.093911,-1.975194,-7.680413
2,-3.175811,-7.119434,-6.404559,4.107396,-9.060225,1.187730,-6.292475,-3.096661,6.128900,7.448147,...,-6.693590,-4.793063,9.772724,-3.313291,1.445040,11.548144,2.635363,2.890684,-1.753646,-6.229915
4,-1.283158,7.638089,9.034423,-1.891582,-5.889227,1.532178,7.095801,-2.747241,-5.817296,3.454908,...,2.322825,7.101319,-1.346586,-5.994927,3.059452,5.886206,4.193807,-6.490186,-5.469032,3.100742
5,4.907955,-6.388369,-1.463222,-3.430170,-2.886563,9.593929,4.071793,3.512283,3.143472,7.871426,...,6.643286,7.740773,-8.545973,-4.868667,-4.095321,6.566000,-3.317706,-2.166894,-4.237074,9.542803
6,-4.482726,-6.321760,-6.146757,3.526257,-5.508487,-1.495956,-4.353466,-5.404603,7.775262,7.686746,...,-4.606208,-4.568515,8.776772,-2.823093,1.673950,8.048491,2.680156,6.702295,-1.160807,-6.457665

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
1,0.859289,6.333856,-8.949360,4.163851,7.451443,9.402996,9.922675,-2.988606,3.621887,-2.685979,...,2.916687,2.994455,-3.621583,8.431512,7.009924,3.822223,-5.581592,4.682196,1.051351,-4.247584
3,-5.184865,-0.358647,7.693848,2.867845,10.006188,-3.272800,1.974871,-8.620896,-5.412755,-1.262756,...,8.634814,6.770541,-1.770601,5.348131,-3.712325,7.250548,-4.606786,2.521844,-8.458426,-4.638388
6,0.599065,6.210741,-10.110492,4.166430,10.269570,8.271214,9.677359,-2.832088,2.935204,0.716648,...,2.774599,3.723807,-3.557117,7.028480,5.489054,4.990499,-6.269206,2.499833,0.266745,-4.093939
8,-0.781549,5.333607,-10.473930,5.558889,8.314044,7.181289,10.055801,-1.745896,2.778230,-1.624774,...,1.786310,4.823375,-3.695193,6.888137,5.742781,5.841954,-6.802265,1.505322,-2.100389,-3.616287
9,-5.751614,-1.188220,7.245725,1.274686,9.892276,-0.518240,3.367587,-7.147375,-4.362353,-0.328637,...,7.856415,5.100307,-0.298682,4.977851,-3.023987,4.714628,-8.007643,4.388872,-10.673465,-4.651664

In [6]:
get_sample_views(imvd= imvd)

    0  1  2
0   1  0  0
1   1  1  1
2   1  1  0
3   0  0  1
4   1  1  0
.. .. .. ..
95  0  1  1
96  1  1  0
97  1  1  0
98  1  1  0
99  1  0  1

[100 rows x 3 columns]

In [7]:
filled_imvd = FillMissingViews(value= 'zeros').transform(X = imvd)
for data in filled_imvd:
    display(data.head())

,0,1,2,3,4,5,6,7,8,9
0,-9.437049,-5.170246,-7.501671,-5.848299,0.828659,1.315599,-6.543098,-2.588427,-7.237090,-0.184917
1,3.307239,8.582922,0.271986,9.360696,-6.787514,1.829022,-3.423539,-2.566740,2.947008,3.020472
2,-8.183112,-5.400762,-4.631482,-5.709188,0.325871,2.155348,-7.026185,-1.831573,-8.409182,0.948450
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,1.690971,10.365474,1.491066,8.781796,-5.986686,1.718489,-2.280560,-1.586425,0.799738,1.099873

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,-3.765637,-6.211230,-5.687638,2.518853,-6.312409,-0.710023,-2.855138,-5.514847,5.585427,8.847646,...,-6.103076,-5.427533,9.770415,-2.162330,3.113082,7.837019,3.893512,3.093911,-1.975194,-7.680413
2,-3.175811,-7.119434,-6.404559,4.107396,-9.060225,1.187730,-6.292475,-3.096661,6.128900,7.448147,...,-6.693590,-4.793063,9.772724,-3.313291,1.445040,11.548144,2.635363,2.890684,-1.753646,-6.229915
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,-1.283158,7.638089,9.034423,-1.891582,-5.889227,1.532178,7.095801,-2.747241,-5.817296,3.454908,...,2.322825,7.101319,-1.346586,-5.994927,3.059452,5.886206,4.193807,-6.490186,-5.469032,3.100742

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.859289,6.333856,-8.949360,4.163851,7.451443,9.402996,9.922675,-2.988606,3.621887,-2.685979,...,2.916687,2.994455,-3.621583,8.431512,7.009924,3.822223,-5.581592,4.682196,1.051351,-4.247584
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,-5.184865,-0.358647,7.693848,2.867845,10.006188,-3.272800,1.974871,-8.620896,-5.412755,-1.262756,...,8.634814,6.770541,-1.770601,5.348131,-3.712325,7.250548,-4.606786,2.521844,-8.458426,-4.638388
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [8]:
filled_imvd = FillMissingViews(value= 'mean').fit_transform(X = imvd)
for data in filled_imvd:
    display(data.head())

,0,1,2,3,4,5,6,7,8,9
0,-9.437049,-5.170246,-7.501671,-5.848299,0.828659,1.315599,-6.543098,-2.588427,-7.237090,-0.184917
1,3.307239,8.582922,0.271986,9.360696,-6.787514,1.829022,-3.423539,-2.566740,2.947008,3.020472
2,-8.183112,-5.400762,-4.631482,-5.709188,0.325871,2.155348,-7.026185,-1.831573,-8.409182,0.948450
3,-4.063268,1.817158,-2.568421,4.633559,-1.801882,2.177315,-2.252274,-1.515726,0.761585,2.449744
4,1.690971,10.365474,1.491066,8.781796,-5.986686,1.718489,-2.280560,-1.586425,0.799738,1.099873

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,-2.048392,-1.847418,-1.497099,-1.917911,-6.617792,0.434796,1.231211,-0.867425,2.133765,5.411763,...,1.971324,2.532885,1.236208,-1.096455,-0.034697,6.426848,1.545930,1.485614,-0.454551,-0.614358
1,-3.765637,-6.211230,-5.687638,2.518853,-6.312409,-0.710023,-2.855138,-5.514847,5.585427,8.847646,...,-6.103076,-5.427533,9.770415,-2.162330,3.113082,7.837019,3.893512,3.093911,-1.975194,-7.680413
2,-3.175811,-7.119434,-6.404559,4.107396,-9.060225,1.187730,-6.292475,-3.096661,6.128900,7.448147,...,-6.693590,-4.793063,9.772724,-3.313291,1.445040,11.548144,2.635363,2.890684,-1.753646,-6.229915
3,-2.048392,-1.847418,-1.497099,-1.917911,-6.617792,0.434796,1.231211,-0.867425,2.133765,5.411763,...,1.971324,2.532885,1.236208,-1.096455,-0.034697,6.426848,1.545930,1.485614,-0.454551,-0.614358
4,-1.283158,7.638089,9.034423,-1.891582,-5.889227,1.532178,7.095801,-2.747241,-5.817296,3.454908,...,2.322825,7.101319,-1.346586,-5.994927,3.059452,5.886206,4.193807,-6.490186,-5.469032,3.100742

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-2.085364,3.158411,-2.150858,2.723058,8.816300,3.468912,6.667612,-4.744641,-0.393671,-0.628813,...,4.949737,4.554567,-1.899763,6.118177,2.288594,5.312223,-6.357136,3.619679,-4.518977,-4.488311
1,0.859289,6.333856,-8.949360,4.163851,7.451443,9.402996,9.922675,-2.988606,3.621887,-2.685979,...,2.916687,2.994455,-3.621583,8.431512,7.009924,3.822223,-5.581592,4.682196,1.051351,-4.247584
2,-2.085364,3.158411,-2.150858,2.723058,8.816300,3.468912,6.667612,-4.744641,-0.393671,-0.628813,...,4.949737,4.554567,-1.899763,6.118177,2.288594,5.312223,-6.357136,3.619679,-4.518977,-4.488311
3,-5.184865,-0.358647,7.693848,2.867845,10.006188,-3.272800,1.974871,-8.620896,-5.412755,-1.262756,...,8.634814,6.770541,-1.770601,5.348131,-3.712325,7.250548,-4.606786,2.521844,-8.458426,-4.638388
4,-2.085364,3.158411,-2.150858,2.723058,8.816300,3.468912,6.667612,-4.744641,-0.393671,-0.628813,...,4.949737,4.554567,-1.899763,6.118177,2.288594,5.312223,-6.357136,3.619679,-4.518977,-4.488311

In [9]:
drop_view_imvd = DropView(view_idx= 1).transform(X = imvd)
for data in drop_view_imvd:
    display(data.head())

,0,1,2,3,4,5,6,7,8,9
0,-9.437049,-5.170246,-7.501671,-5.848299,0.828659,1.315599,-6.543098,-2.588427,-7.237090,-0.184917
1,3.307239,8.582922,0.271986,9.360696,-6.787514,1.829022,-3.423539,-2.566740,2.947008,3.020472
2,-8.183112,-5.400762,-4.631482,-5.709188,0.325871,2.155348,-7.026185,-1.831573,-8.409182,0.948450
4,1.690971,10.365474,1.491066,8.781796,-5.986686,1.718489,-2.280560,-1.586425,0.799738,1.099873
6,-4.758829,3.567343,-2.625574,8.929640,3.621543,4.113232,3.201250,0.632426,9.038654,6.962609

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
1,0.859289,6.333856,-8.949360,4.163851,7.451443,9.402996,9.922675,-2.988606,3.621887,-2.685979,...,2.916687,2.994455,-3.621583,8.431512,7.009924,3.822223,-5.581592,4.682196,1.051351,-4.247584
3,-5.184865,-0.358647,7.693848,2.867845,10.006188,-3.272800,1.974871,-8.620896,-5.412755,-1.262756,...,8.634814,6.770541,-1.770601,5.348131,-3.712325,7.250548,-4.606786,2.521844,-8.458426,-4.638388
6,0.599065,6.210741,-10.110492,4.166430,10.269570,8.271214,9.677359,-2.832088,2.935204,0.716648,...,2.774599,3.723807,-3.557117,7.028480,5.489054,4.990499,-6.269206,2.499833,0.266745,-4.093939
8,-0.781549,5.333607,-10.473930,5.558889,8.314044,7.181289,10.055801,-1.745896,2.778230,-1.624774,...,1.786310,4.823375,-3.695193,6.888137,5.742781,5.841954,-6.802265,1.505322,-2.100389,-3.616287
9,-5.751614,-1.188220,7.245725,1.274686,9.892276,-0.518240,3.367587,-7.147375,-4.362353,-0.328637,...,7.856415,5.100307,-0.298682,4.977851,-3.023987,4.714628,-8.007643,4.388872,-10.673465,-4.651664

In [10]:
sv = SingleView(view_idx= 1).transform(X = imvd)
sv.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
1,-3.765637,-6.211230,-5.687638,2.518853,-6.312409,-0.710023,-2.855138,-5.514847,5.585427,8.847646,...,-6.103076,-5.427533,9.770415,-2.162330,3.113082,7.837019,3.893512,3.093911,-1.975194,-7.680413
2,-3.175811,-7.119434,-6.404559,4.107396,-9.060225,1.187730,-6.292475,-3.096661,6.128900,7.448147,...,-6.693590,-4.793063,9.772724,-3.313291,1.445040,11.548144,2.635363,2.890684,-1.753646,-6.229915
4,-1.283158,7.638089,9.034423,-1.891582,-5.889227,1.532178,7.095801,-2.747241,-5.817296,3.454908,...,2.322825,7.101319,-1.346586,-5.994927,3.059452,5.886206,4.193807,-6.490186,-5.469032,3.100742
5,4.907955,-6.388369,-1.463222,-3.430170,-2.886563,9.593929,4.071793,3.512283,3.143472,7.871426,...,6.643286,7.740773,-8.545973,-4.868667,-4.095321,6.566000,-3.317706,-2.166894,-4.237074,9.542803
6,-4.482726,-6.321760,-6.146757,3.526257,-5.508487,-1.495956,-4.353466,-5.404603,7.775262,7.686746,...,-4.606208,-4.568515,8.776772,-2.823093,1.673950,8.048491,2.680156,6.702295,-1.160807,-6.457665

In [11]:
new_mvd = FillMissingViews(value= 'mean').fit_transform(X = imvd)
ConcatenateViews().transform(X = new_mvd)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-9.437049,-5.170246,-7.501671,-5.848299,0.828659,1.315599,-6.543098,-2.588427,-7.237090,-0.184917,...,4.949737,4.554567,-1.899763,6.118177,2.288594,5.312223,-6.357136,3.619679,-4.518977,-4.488311
1,3.307239,8.582922,0.271986,9.360696,-6.787514,1.829022,-3.423539,-2.566740,2.947008,3.020472,...,2.916687,2.994455,-3.621583,8.431512,7.009924,3.822223,-5.581592,4.682196,1.051351,-4.247584
2,-8.183112,-5.400762,-4.631482,-5.709188,0.325871,2.155348,-7.026185,-1.831573,-8.409182,0.948450,...,4.949737,4.554567,-1.899763,6.118177,2.288594,5.312223,-6.357136,3.619679,-4.518977,-4.488311
3,-4.063268,1.817158,-2.568421,4.633559,-1.801882,2.177315,-2.252274,-1.515726,0.761585,2.449744,...,8.634814,6.770541,-1.770601,5.348131,-3.712325,7.250548,-4.606786,2.521844,-8.458426,-4.638388
4,1.690971,10.365474,1.491066,8.781796,-5.986686,1.718489,-2.280560,-1.586425,0.799738,1.099873,...,4.949737,4.554567,-1.899763,6.118177,2.288594,5.312223,-6.357136,3.619679,-4.518977,-4.488311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-4.063268,1.817158,-2.568421,4.633559,-1.801882,2.177315,-2.252274,-1.515726,0.761585,2.449744,...,1.797021,4.533363,-2.299467,6.486045,7.428551,3.804521,-7.596229,2.555794,-0.110125,-1.975307
96,-9.674977,-5.534820,-6.730733,-6.294689,0.338256,1.758254,-5.866136,-3.001257,-7.634521,2.210113,...,4.949737,4.554567,-1.899763,6.118177,2.288594,5.312223,-6.357136,3.619679,-4.518977,-4.488311
97,-5.417119,0.970275,-1.847302,8.872171,2.686572,4.175384,2.241348,1.202998,8.939096,4.141846,...,4.949737,4.554567,-1.899763,6.118177,2.288594,5.312223,-6.357136,3.619679,-4.518977,-4.488311
98,-7.485450,-5.590124,-5.173702,-6.991730,1.013144,1.612731,-7.787574,-2.660653,-8.663519,1.212001,...,4.949737,4.554567,-1.899763,6.118177,2.288594,5.312223,-6.357136,3.619679,-4.518977,-4.488311
99,0.523064,8.808723,1.744427,8.861755,-5.974530,2.100537,-1.244812,-2.283208,3.437999,1.478335,...,9.053108,4.134144,0.476290,4.515524,-1.015553,6.611631,-4.626474,3.240201,-10.335046,-4.860271

In [12]:
make_pipeline(FillMissingViews(value= 'mean'), ConcatenateViews()).fit_transform(X = imvd)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-9.437049,-5.170246,-7.501671,-5.848299,0.828659,1.315599,-6.543098,-2.588427,-7.237090,-0.184917,...,4.949737,4.554567,-1.899763,6.118177,2.288594,5.312223,-6.357136,3.619679,-4.518977,-4.488311
1,3.307239,8.582922,0.271986,9.360696,-6.787514,1.829022,-3.423539,-2.566740,2.947008,3.020472,...,2.916687,2.994455,-3.621583,8.431512,7.009924,3.822223,-5.581592,4.682196,1.051351,-4.247584
2,-8.183112,-5.400762,-4.631482,-5.709188,0.325871,2.155348,-7.026185,-1.831573,-8.409182,0.948450,...,4.949737,4.554567,-1.899763,6.118177,2.288594,5.312223,-6.357136,3.619679,-4.518977,-4.488311
3,-4.063268,1.817158,-2.568421,4.633559,-1.801882,2.177315,-2.252274,-1.515726,0.761585,2.449744,...,8.634814,6.770541,-1.770601,5.348131,-3.712325,7.250548,-4.606786,2.521844,-8.458426,-4.638388
4,1.690971,10.365474,1.491066,8.781796,-5.986686,1.718489,-2.280560,-1.586425,0.799738,1.099873,...,4.949737,4.554567,-1.899763,6.118177,2.288594,5.312223,-6.357136,3.619679,-4.518977,-4.488311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-4.063268,1.817158,-2.568421,4.633559,-1.801882,2.177315,-2.252274,-1.515726,0.761585,2.449744,...,1.797021,4.533363,-2.299467,6.486045,7.428551,3.804521,-7.596229,2.555794,-0.110125,-1.975307
96,-9.674977,-5.534820,-6.730733,-6.294689,0.338256,1.758254,-5.866136,-3.001257,-7.634521,2.210113,...,4.949737,4.554567,-1.899763,6.118177,2.288594,5.312223,-6.357136,3.619679,-4.518977,-4.488311
97,-5.417119,0.970275,-1.847302,8.872171,2.686572,4.175384,2.241348,1.202998,8.939096,4.141846,...,4.949737,4.554567,-1.899763,6.118177,2.288594,5.312223,-6.357136,3.619679,-4.518977,-4.488311
98,-7.485450,-5.590124,-5.173702,-6.991730,1.013144,1.612731,-7.787574,-2.660653,-8.663519,1.212001,...,4.949737,4.554567,-1.899763,6.118177,2.288594,5.312223,-6.357136,3.619679,-4.518977,-4.488311
99,0.523064,8.808723,1.744427,8.861755,-5.974530,2.100537,-1.244812,-2.283208,3.437999,1.478335,...,9.053108,4.134144,0.476290,4.515524,-1.015553,6.611631,-4.626474,3.240201,-10.335046,-4.860271