In [1]:
cd ../src

/home/alberto/Work/incomplete_multiview_clustering/src

In [2]:
import numpy as np
import pandas as pd
from utils.utils import RandomMultiviewDataset, FillMissingViews, get_sample_views, ConcatenateViews, DropView, SingleView
from sklearn.pipeline import make_pipeline
from IPython.display import display

In [3]:
rmd = RandomMultiviewDataset()
mvd = rmd.create_mvd(n_samples = 100, n_features = [10, 50, 100], n_clusters = [3, 4, 2])
for data in mvd:
    display(data.head())

,0,1,2,3,4,5,6,7,8,9
0,-3.130770,1.786377,-4.126985,-5.454670,6.824032,2.604850,3.092084,0.676306,4.310893,5.509657
1,-4.324846,2.303524,-5.098836,-6.527217,5.429197,2.804010,5.131308,3.010030,6.683314,7.286500
2,-6.100377,-0.137478,-6.990645,-0.458135,-2.789537,9.362912,6.690134,4.101825,6.755182,-2.170019
3,-4.998720,-2.837303,5.949145,-0.122905,-1.695085,-8.846499,-6.234467,2.515535,0.291464,8.657932
4,-5.952713,-1.346601,5.858071,-0.702720,-2.116066,-8.964429,-8.139966,4.064888,0.729448,9.755328

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,-0.117580,7.680420,4.263079,5.936456,-0.031999,-7.209396,-5.772167,-8.688542,3.265408,-2.371826,...,8.889103,-7.582979,-5.756670,-1.232498,-7.313324,-4.819115,3.951894,-5.616843,8.151207,-6.708507
1,-9.003546,6.095321,1.301918,7.925154,-6.020713,7.534631,2.809113,5.269888,-0.876717,1.408532,...,-7.249904,2.231792,5.621625,-1.103227,2.552785,1.002629,9.853557,2.745530,-1.708784,-5.459935
2,-4.446816,8.042868,2.466253,-6.098419,-3.428022,2.814126,1.079479,-0.752449,3.185536,-3.697270,...,-10.756620,7.385129,3.918422,-0.422304,-2.976873,-2.247883,-2.716999,0.457062,-6.494108,-2.263490
3,-1.345374,1.884827,5.455620,-6.410586,0.738132,1.028460,4.213354,0.107527,7.589594,4.980944,...,-4.735378,1.534807,6.994672,-8.753406,-4.839449,8.202226,6.873705,4.090250,1.457866,8.232229
4,-3.945029,4.513276,2.183095,-3.947470,-2.073077,5.597990,1.718821,0.877327,2.988353,-2.470040,...,-10.187877,9.115490,1.754889,-1.148883,-1.405811,-0.843091,-2.737656,-0.767403,-6.674039,-2.228936

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-9.259427,3.915060,1.513501,7.255201,5.729048,-7.899959,3.917140,5.733491,9.353343,9.228486,...,-6.260942,-1.626028,6.731371,1.473567,3.753485,-2.404916,2.285516,6.045983,9.682570,-2.139897
1,-10.456134,5.039231,3.004625,7.021535,6.109601,-7.885432,2.913953,6.663469,8.611085,8.526252,...,-6.916503,-1.623109,8.084246,-0.303934,5.071645,-2.258431,1.651237,4.179096,9.387195,-1.906557
2,-9.913541,2.890233,2.867618,6.602652,8.216135,-7.595178,4.389043,5.873593,8.095220,8.157335,...,-6.247087,-1.731565,6.580184,-0.406944,7.459459,-4.352484,0.778134,5.336120,8.569444,-2.049322
3,-10.406097,2.130584,2.721986,5.813229,6.360874,-6.102921,3.994978,6.852510,9.168634,8.093807,...,-6.761645,-3.062165,8.596258,-0.459458,6.370096,-2.788843,1.118174,3.654675,10.936270,-4.958690
4,-1.471964,1.579399,-10.249023,1.404217,-5.380822,-1.788350,-1.049186,-2.407246,-6.502413,6.774893,...,2.739845,-4.682625,6.723137,-5.697832,-5.781128,7.882759,-6.173093,-7.930715,7.545431,3.573089

In [4]:
sample_views = rmd.add_sample_views(mvd = mvd, p = [0.2, 0.3, 0.5])
sample_views

    0  1  2
0   1  1  0
1   1  1  1
2   1  1  0
3   1  1  0
4   1  0  1
.. .. .. ..
95  1  1  1
96  1  1  0
97  0  1  0
98  1  1  1
99  1  0  1

[100 rows x 3 columns]

In [5]:
imvd = rmd.add_missing_views(mvd = mvd, sample_views = sample_views)
for data in imvd:
    display(data.head())

,0,1,2,3,4,5,6,7,8,9
0,-3.130770,1.786377,-4.126985,-5.454670,6.824032,2.604850,3.092084,0.676306,4.310893,5.509657
1,-4.324846,2.303524,-5.098836,-6.527217,5.429197,2.804010,5.131308,3.010030,6.683314,7.286500
2,-6.100377,-0.137478,-6.990645,-0.458135,-2.789537,9.362912,6.690134,4.101825,6.755182,-2.170019
3,-4.998720,-2.837303,5.949145,-0.122905,-1.695085,-8.846499,-6.234467,2.515535,0.291464,8.657932
4,-5.952713,-1.346601,5.858071,-0.702720,-2.116066,-8.964429,-8.139966,4.064888,0.729448,9.755328

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,-0.117580,7.680420,4.263079,5.936456,-0.031999,-7.209396,-5.772167,-8.688542,3.265408,-2.371826,...,8.889103,-7.582979,-5.756670,-1.232498,-7.313324,-4.819115,3.951894,-5.616843,8.151207,-6.708507
1,-9.003546,6.095321,1.301918,7.925154,-6.020713,7.534631,2.809113,5.269888,-0.876717,1.408532,...,-7.249904,2.231792,5.621625,-1.103227,2.552785,1.002629,9.853557,2.745530,-1.708784,-5.459935
2,-4.446816,8.042868,2.466253,-6.098419,-3.428022,2.814126,1.079479,-0.752449,3.185536,-3.697270,...,-10.756620,7.385129,3.918422,-0.422304,-2.976873,-2.247883,-2.716999,0.457062,-6.494108,-2.263490
3,-1.345374,1.884827,5.455620,-6.410586,0.738132,1.028460,4.213354,0.107527,7.589594,4.980944,...,-4.735378,1.534807,6.994672,-8.753406,-4.839449,8.202226,6.873705,4.090250,1.457866,8.232229
5,-2.222179,7.423279,5.495873,5.996057,-1.299373,-8.066192,-8.260520,-10.405671,2.889836,-3.213382,...,8.183375,-8.179346,-7.036519,0.521634,-8.881608,-4.341288,1.049698,-5.343096,8.894788,-5.780458

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
1,-10.456134,5.039231,3.004625,7.021535,6.109601,-7.885432,2.913953,6.663469,8.611085,8.526252,...,-6.916503,-1.623109,8.084246,-0.303934,5.071645,-2.258431,1.651237,4.179096,9.387195,-1.906557
4,-1.471964,1.579399,-10.249023,1.404217,-5.380822,-1.788350,-1.049186,-2.407246,-6.502413,6.774893,...,2.739845,-4.682625,6.723137,-5.697832,-5.781128,7.882759,-6.173093,-7.930715,7.545431,3.573089
6,-10.305073,3.044291,3.905413,4.369253,7.464977,-9.138087,4.718612,5.561055,9.424277,10.051944,...,-3.972037,-3.505236,8.806802,1.092828,6.625599,-3.266420,2.143336,5.658173,10.974064,-3.981002
7,-0.636949,3.864113,-7.820847,1.967513,-4.485091,1.521789,0.521111,-3.536260,-4.923355,5.858005,...,2.863752,-4.016088,8.863003,-7.190099,-6.305799,8.808136,-7.554540,-7.391006,9.188094,4.535376
13,-8.512098,5.043844,2.720730,6.281889,7.714033,-6.721810,4.167308,7.308322,8.612850,9.036110,...,-6.240212,-1.566911,7.646110,2.481421,4.528686,-3.604285,2.438791,6.330236,9.515883,-1.911902

In [6]:
get_sample_views(imvd= imvd)

    0  1  2
0   1  1  0
1   1  1  1
2   1  1  0
3   1  1  0
4   1  0  1
.. .. .. ..
95  1  1  1
96  1  1  0
97  0  1  0
98  1  1  1
99  1  0  1

[100 rows x 3 columns]

In [7]:
filled_imvd = FillMissingViews(value= 'zeros').transform(X = imvd)
for data in filled_imvd:
    display(data.head())

,0,1,2,3,4,5,6,7,8,9
0,-3.130770,1.786377,-4.126985,-5.454670,6.824032,2.604850,3.092084,0.676306,4.310893,5.509657
1,-4.324846,2.303524,-5.098836,-6.527217,5.429197,2.804010,5.131308,3.010030,6.683314,7.286500
2,-6.100377,-0.137478,-6.990645,-0.458135,-2.789537,9.362912,6.690134,4.101825,6.755182,-2.170019
3,-4.998720,-2.837303,5.949145,-0.122905,-1.695085,-8.846499,-6.234467,2.515535,0.291464,8.657932
4,-5.952713,-1.346601,5.858071,-0.702720,-2.116066,-8.964429,-8.139966,4.064888,0.729448,9.755328

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,-0.117580,7.680420,4.263079,5.936456,-0.031999,-7.209396,-5.772167,-8.688542,3.265408,-2.371826,...,8.889103,-7.582979,-5.756670,-1.232498,-7.313324,-4.819115,3.951894,-5.616843,8.151207,-6.708507
1,-9.003546,6.095321,1.301918,7.925154,-6.020713,7.534631,2.809113,5.269888,-0.876717,1.408532,...,-7.249904,2.231792,5.621625,-1.103227,2.552785,1.002629,9.853557,2.745530,-1.708784,-5.459935
2,-4.446816,8.042868,2.466253,-6.098419,-3.428022,2.814126,1.079479,-0.752449,3.185536,-3.697270,...,-10.756620,7.385129,3.918422,-0.422304,-2.976873,-2.247883,-2.716999,0.457062,-6.494108,-2.263490
3,-1.345374,1.884827,5.455620,-6.410586,0.738132,1.028460,4.213354,0.107527,7.589594,4.980944,...,-4.735378,1.534807,6.994672,-8.753406,-4.839449,8.202226,6.873705,4.090250,1.457866,8.232229
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,-10.456134,5.039231,3.004625,7.021535,6.109601,-7.885432,2.913953,6.663469,8.611085,8.526252,...,-6.916503,-1.623109,8.084246,-0.303934,5.071645,-2.258431,1.651237,4.179096,9.387195,-1.906557
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,-1.471964,1.579399,-10.249023,1.404217,-5.380822,-1.788350,-1.049186,-2.407246,-6.502413,6.774893,...,2.739845,-4.682625,6.723137,-5.697832,-5.781128,7.882759,-6.173093,-7.930715,7.545431,3.573089

In [8]:
filled_imvd = FillMissingViews(value= 'mean').fit_transform(X = imvd)
for data in filled_imvd:
    display(data.head())

,0,1,2,3,4,5,6,7,8,9
0,-3.130770,1.786377,-4.126985,-5.454670,6.824032,2.604850,3.092084,0.676306,4.310893,5.509657
1,-4.324846,2.303524,-5.098836,-6.527217,5.429197,2.804010,5.131308,3.010030,6.683314,7.286500
2,-6.100377,-0.137478,-6.990645,-0.458135,-2.789537,9.362912,6.690134,4.101825,6.755182,-2.170019
3,-4.998720,-2.837303,5.949145,-0.122905,-1.695085,-8.846499,-6.234467,2.515535,0.291464,8.657932
4,-5.952713,-1.346601,5.858071,-0.702720,-2.116066,-8.964429,-8.139966,4.064888,0.729448,9.755328

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,-0.117580,7.680420,4.263079,5.936456,-0.031999,-7.209396,-5.772167,-8.688542,3.265408,-2.371826,...,8.889103,-7.582979,-5.756670,-1.232498,-7.313324,-4.819115,3.951894,-5.616843,8.151207,-6.708507
1,-9.003546,6.095321,1.301918,7.925154,-6.020713,7.534631,2.809113,5.269888,-0.876717,1.408532,...,-7.249904,2.231792,5.621625,-1.103227,2.552785,1.002629,9.853557,2.745530,-1.708784,-5.459935
2,-4.446816,8.042868,2.466253,-6.098419,-3.428022,2.814126,1.079479,-0.752449,3.185536,-3.697270,...,-10.756620,7.385129,3.918422,-0.422304,-2.976873,-2.247883,-2.716999,0.457062,-6.494108,-2.263490
3,-1.345374,1.884827,5.455620,-6.410586,0.738132,1.028460,4.213354,0.107527,7.589594,4.980944,...,-4.735378,1.534807,6.994672,-8.753406,-4.839449,8.202226,6.873705,4.090250,1.457866,8.232229
4,-4.633465,6.207302,2.636512,0.807404,-2.194709,1.907857,-0.334542,-0.388662,2.734474,-0.320953,...,-3.658502,1.411015,2.725736,-2.783181,-2.460740,0.326240,4.267014,0.075597,0.579864,-1.965797

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-5.872247,3.141097,-2.215782,3.274588,1.081753,-3.936231,2.008046,2.309590,2.785968,8.084794,...,-2.259930,-3.317141,8.158322,-2.280479,0.330731,1.947764,-2.579767,-0.171617,8.872615,-0.220849
1,-10.456134,5.039231,3.004625,7.021535,6.109601,-7.885432,2.913953,6.663469,8.611085,8.526252,...,-6.916503,-1.623109,8.084246,-0.303934,5.071645,-2.258431,1.651237,4.179096,9.387195,-1.906557
2,-5.872247,3.141097,-2.215782,3.274588,1.081753,-3.936231,2.008046,2.309590,2.785968,8.084794,...,-2.259930,-3.317141,8.158322,-2.280479,0.330731,1.947764,-2.579767,-0.171617,8.872615,-0.220849
3,-5.872247,3.141097,-2.215782,3.274588,1.081753,-3.936231,2.008046,2.309590,2.785968,8.084794,...,-2.259930,-3.317141,8.158322,-2.280479,0.330731,1.947764,-2.579767,-0.171617,8.872615,-0.220849
4,-1.471964,1.579399,-10.249023,1.404217,-5.380822,-1.788350,-1.049186,-2.407246,-6.502413,6.774893,...,2.739845,-4.682625,6.723137,-5.697832,-5.781128,7.882759,-6.173093,-7.930715,7.545431,3.573089

In [9]:
drop_view_imvd = DropView(view_idx= 1).transform(X = imvd)
for data in drop_view_imvd:
    display(data.head())

,0,1,2,3,4,5,6,7,8,9
0,-3.130770,1.786377,-4.126985,-5.454670,6.824032,2.604850,3.092084,0.676306,4.310893,5.509657
1,-4.324846,2.303524,-5.098836,-6.527217,5.429197,2.804010,5.131308,3.010030,6.683314,7.286500
2,-6.100377,-0.137478,-6.990645,-0.458135,-2.789537,9.362912,6.690134,4.101825,6.755182,-2.170019
3,-4.998720,-2.837303,5.949145,-0.122905,-1.695085,-8.846499,-6.234467,2.515535,0.291464,8.657932
4,-5.952713,-1.346601,5.858071,-0.702720,-2.116066,-8.964429,-8.139966,4.064888,0.729448,9.755328

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
1,-10.456134,5.039231,3.004625,7.021535,6.109601,-7.885432,2.913953,6.663469,8.611085,8.526252,...,-6.916503,-1.623109,8.084246,-0.303934,5.071645,-2.258431,1.651237,4.179096,9.387195,-1.906557
4,-1.471964,1.579399,-10.249023,1.404217,-5.380822,-1.788350,-1.049186,-2.407246,-6.502413,6.774893,...,2.739845,-4.682625,6.723137,-5.697832,-5.781128,7.882759,-6.173093,-7.930715,7.545431,3.573089
6,-10.305073,3.044291,3.905413,4.369253,7.464977,-9.138087,4.718612,5.561055,9.424277,10.051944,...,-3.972037,-3.505236,8.806802,1.092828,6.625599,-3.266420,2.143336,5.658173,10.974064,-3.981002
7,-0.636949,3.864113,-7.820847,1.967513,-4.485091,1.521789,0.521111,-3.536260,-4.923355,5.858005,...,2.863752,-4.016088,8.863003,-7.190099,-6.305799,8.808136,-7.554540,-7.391006,9.188094,4.535376
13,-8.512098,5.043844,2.720730,6.281889,7.714033,-6.721810,4.167308,7.308322,8.612850,9.036110,...,-6.240212,-1.566911,7.646110,2.481421,4.528686,-3.604285,2.438791,6.330236,9.515883,-1.911902

In [10]:
sv = SingleView(view_idx= 1).transform(X = imvd)
sv.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,-0.117580,7.680420,4.263079,5.936456,-0.031999,-7.209396,-5.772167,-8.688542,3.265408,-2.371826,...,8.889103,-7.582979,-5.756670,-1.232498,-7.313324,-4.819115,3.951894,-5.616843,8.151207,-6.708507
1,-9.003546,6.095321,1.301918,7.925154,-6.020713,7.534631,2.809113,5.269888,-0.876717,1.408532,...,-7.249904,2.231792,5.621625,-1.103227,2.552785,1.002629,9.853557,2.745530,-1.708784,-5.459935
2,-4.446816,8.042868,2.466253,-6.098419,-3.428022,2.814126,1.079479,-0.752449,3.185536,-3.697270,...,-10.756620,7.385129,3.918422,-0.422304,-2.976873,-2.247883,-2.716999,0.457062,-6.494108,-2.263490
3,-1.345374,1.884827,5.455620,-6.410586,0.738132,1.028460,4.213354,0.107527,7.589594,4.980944,...,-4.735378,1.534807,6.994672,-8.753406,-4.839449,8.202226,6.873705,4.090250,1.457866,8.232229
5,-2.222179,7.423279,5.495873,5.996057,-1.299373,-8.066192,-8.260520,-10.405671,2.889836,-3.213382,...,8.183375,-8.179346,-7.036519,0.521634,-8.881608,-4.341288,1.049698,-5.343096,8.894788,-5.780458

In [11]:
new_mvd = FillMissingViews(value= 'mean').fit_transform(X = imvd)
ConcatenateViews().transform(X = new_mvd)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-3.130770,1.786377,-4.126985,-5.454670,6.824032,2.604850,3.092084,0.676306,4.310893,5.509657,...,-2.259930,-3.317141,8.158322,-2.280479,0.330731,1.947764,-2.579767,-0.171617,8.872615,-0.220849
1,-4.324846,2.303524,-5.098836,-6.527217,5.429197,2.804010,5.131308,3.010030,6.683314,7.286500,...,-6.916503,-1.623109,8.084246,-0.303934,5.071645,-2.258431,1.651237,4.179096,9.387195,-1.906557
2,-6.100377,-0.137478,-6.990645,-0.458135,-2.789537,9.362912,6.690134,4.101825,6.755182,-2.170019,...,-2.259930,-3.317141,8.158322,-2.280479,0.330731,1.947764,-2.579767,-0.171617,8.872615,-0.220849
3,-4.998720,-2.837303,5.949145,-0.122905,-1.695085,-8.846499,-6.234467,2.515535,0.291464,8.657932,...,-2.259930,-3.317141,8.158322,-2.280479,0.330731,1.947764,-2.579767,-0.171617,8.872615,-0.220849
4,-5.952713,-1.346601,5.858071,-0.702720,-2.116066,-8.964429,-8.139966,4.064888,0.729448,9.755328,...,2.739845,-4.682625,6.723137,-5.697832,-5.781128,7.882759,-6.173093,-7.930715,7.545431,3.573089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-5.030664,2.304562,-2.608809,-6.196420,4.502694,2.974988,6.005529,1.776944,5.025062,4.852372,...,3.775108,-5.572750,7.240942,-4.374213,-8.616728,8.769845,-8.118352,-6.911758,6.910485,3.806826
96,-7.557432,1.349951,-7.562575,0.644941,-2.470466,9.340224,6.896646,4.174028,7.760498,-5.148606,...,-2.259930,-3.317141,8.158322,-2.280479,0.330731,1.947764,-2.579767,-0.171617,8.872615,-0.220849
97,-4.898560,-0.112172,-0.556497,-1.756601,0.091496,0.475723,1.254004,3.637878,3.877778,3.494387,...,-2.259930,-3.317141,8.158322,-2.280479,0.330731,1.947764,-2.579767,-0.171617,8.872615,-0.220849
98,-5.571621,-3.450355,6.513152,-0.170808,-2.347089,-8.738547,-5.979194,4.034132,-2.078097,6.587392,...,-4.098079,-3.068288,8.455347,1.536631,5.391095,-1.666138,1.106070,5.104866,10.612081,-4.037299
99,-5.711472,-3.249062,5.249377,2.025749,-2.257263,-9.535602,-6.173324,2.982371,-1.627735,8.970367,...,-6.493347,-2.190527,8.396304,-0.187779,5.846509,-2.367644,2.113814,6.931888,8.913760,-2.625064

In [12]:
make_pipeline(FillMissingViews(value= 'mean'), ConcatenateViews()).fit_transform(X = imvd)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-3.130770,1.786377,-4.126985,-5.454670,6.824032,2.604850,3.092084,0.676306,4.310893,5.509657,...,-2.259930,-3.317141,8.158322,-2.280479,0.330731,1.947764,-2.579767,-0.171617,8.872615,-0.220849
1,-4.324846,2.303524,-5.098836,-6.527217,5.429197,2.804010,5.131308,3.010030,6.683314,7.286500,...,-6.916503,-1.623109,8.084246,-0.303934,5.071645,-2.258431,1.651237,4.179096,9.387195,-1.906557
2,-6.100377,-0.137478,-6.990645,-0.458135,-2.789537,9.362912,6.690134,4.101825,6.755182,-2.170019,...,-2.259930,-3.317141,8.158322,-2.280479,0.330731,1.947764,-2.579767,-0.171617,8.872615,-0.220849
3,-4.998720,-2.837303,5.949145,-0.122905,-1.695085,-8.846499,-6.234467,2.515535,0.291464,8.657932,...,-2.259930,-3.317141,8.158322,-2.280479,0.330731,1.947764,-2.579767,-0.171617,8.872615,-0.220849
4,-5.952713,-1.346601,5.858071,-0.702720,-2.116066,-8.964429,-8.139966,4.064888,0.729448,9.755328,...,2.739845,-4.682625,6.723137,-5.697832,-5.781128,7.882759,-6.173093,-7.930715,7.545431,3.573089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-5.030664,2.304562,-2.608809,-6.196420,4.502694,2.974988,6.005529,1.776944,5.025062,4.852372,...,3.775108,-5.572750,7.240942,-4.374213,-8.616728,8.769845,-8.118352,-6.911758,6.910485,3.806826
96,-7.557432,1.349951,-7.562575,0.644941,-2.470466,9.340224,6.896646,4.174028,7.760498,-5.148606,...,-2.259930,-3.317141,8.158322,-2.280479,0.330731,1.947764,-2.579767,-0.171617,8.872615,-0.220849
97,-4.898560,-0.112172,-0.556497,-1.756601,0.091496,0.475723,1.254004,3.637878,3.877778,3.494387,...,-2.259930,-3.317141,8.158322,-2.280479,0.330731,1.947764,-2.579767,-0.171617,8.872615,-0.220849
98,-5.571621,-3.450355,6.513152,-0.170808,-2.347089,-8.738547,-5.979194,4.034132,-2.078097,6.587392,...,-4.098079,-3.068288,8.455347,1.536631,5.391095,-1.666138,1.106070,5.104866,10.612081,-4.037299
99,-5.711472,-3.249062,5.249377,2.025749,-2.257263,-9.535602,-6.173324,2.982371,-1.627735,8.970367,...,-6.493347,-2.190527,8.396304,-0.187779,5.846509,-2.367644,2.113814,6.931888,8.913760,-2.625064