In [1]:
cd ../src

/home/alberto/Work/incomplete_multiview_clustering/src

In [2]:
from utils import RandomMultiviewDataset
from decomposition import MOFA
from algorithms import MOFAClustering

In [3]:
rmd = RandomMultiviewDataset()
mvd = rmd.create_mvd(n_samples = 100, n_features = [10, 50, 100], n_clusters = [3, 4, 2])
sample_views = rmd.add_sample_views(mvd = mvd, p = [0.2, 0.3, 0.5])
imvd = rmd.add_missing_views(mvd = mvd, sample_views = sample_views)
for data in imvd:
    print(data.shape)
    display(data.head())

(78, 10)

,0,1,2,3,4,5,6,7,8,9
1,-1.973455,-8.421628,0.746292,-1.252130,7.281147,6.281845,4.575794,8.072976,-2.213677,7.557838
2,-6.797606,8.054335,4.344649,-10.091711,-0.797164,-7.381552,1.781874,4.443340,-2.393542,1.331886
3,-4.785345,7.595846,3.755802,-9.240166,-0.707448,-7.157127,2.542673,5.477094,0.025292,2.563963
4,-3.653829,-7.958308,1.908079,-1.152910,9.041727,5.696139,3.018627,7.639250,-0.694149,8.380174
5,-6.798543,7.083283,4.340594,-10.495095,-3.092824,-8.074239,2.901337,7.154123,-1.063652,2.291715

(74, 50)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,-7.349761,2.614203,1.775461,3.183076,6.475707,0.402701,-2.277239,-4.360005,1.691378,-0.099216,...,-2.295330,4.018986,-2.215309,-6.541165,0.707855,0.268650,-3.124907,6.761711,4.015888,3.000915
1,4.191265,-2.004013,-3.159794,7.513377,-2.069499,-1.964998,3.471057,5.466545,-10.130763,6.430967,...,1.807380,5.697229,9.633149,7.604345,-4.434302,6.265384,7.897161,3.457541,-0.935142,-3.879725
2,-3.720876,6.707412,-8.772288,-0.069954,-6.188676,8.720852,1.991954,4.736064,-2.895083,-4.449816,...,5.078950,-9.440822,5.342995,4.936451,-1.970992,8.497022,6.174819,-3.626277,-0.467613,5.940958
3,-3.090834,0.351409,-6.132865,3.207845,-0.848966,7.691184,5.428102,-3.617377,-10.003610,-7.272516,...,2.894522,10.002531,-4.344501,-2.207416,-0.602561,-9.403122,-6.252350,-8.552848,4.790418,5.113317
4,-3.455312,2.016215,-6.463087,1.973547,-1.873060,8.083712,5.908361,-3.118664,-9.395503,-8.892072,...,4.896888,7.271131,-4.016473,-1.511949,-0.668641,-9.323332,-3.288998,-6.440001,6.152797,3.707922

(59, 100)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
3,3.799315,-4.122079,9.012854,0.209040,5.779848,8.664320,0.987627,-3.545352,5.929329,-8.954360,...,8.352702,-4.976763,6.937613,9.763827,5.666607,-3.968595,3.974623,-7.385681,5.002289,-0.943178
4,-1.912603,-0.887576,-3.676951,2.116710,-4.788998,-5.493429,-9.166287,-4.067375,-7.428271,-6.091101,...,-7.881561,-8.743923,6.616379,-6.215908,2.480873,-6.945243,2.785423,-5.051309,-5.555966,-7.629040
6,5.316498,-3.868311,8.840115,1.073698,5.925610,8.966231,0.355302,-7.786701,6.872142,-10.463661,...,10.807703,-6.016900,3.117730,7.553649,5.632166,-4.776627,2.427820,-7.280469,4.808865,-1.584285
7,4.443587,-4.168887,9.608327,1.976826,5.885068,7.586952,0.161495,-6.123098,6.756157,-10.482800,...,10.119192,-5.908443,3.394399,8.547303,4.122721,-4.403321,2.425807,-8.745232,4.221481,0.472062
10,1.795471,-3.757995,8.313261,0.712662,5.933170,8.239863,2.066408,-5.106839,4.755229,-9.619725,...,9.448644,-5.907903,3.937900,8.629771,6.014783,-5.758563,2.673198,-7.161130,6.449999,-2.049911

In [4]:
from sklearn.pipeline import make_pipeline
from utils import FillMissingViews

In [5]:
mofa_pipeline = make_pipeline(FillMissingViews(value="nan"), MOFA().set_output(transform = 'pandas'))

In [6]:
mofa_pipeline.fit(X = imvd)

Pipeline(steps=[('fillmissingviews', FillMissingViews(value='nan')),
                ('mofa', <decomposition.MOFA.MOFA object at 0x7fcab085e3e0>)])

In [7]:
transformed_imvd = mofa_pipeline.transform(X = imvd)
print(transformed_imvd.shape)
display(transformed_imvd.head())

(100, 30)

,0,1,2,3,4,5,6,7,8,9,...,0,1,2,3,4,5,6,7,8,9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.000140,0.062771,0.009862,0.012783,-97.491239,-82.563517,1.704512e-63,-2.015601e-55,-3.434492e-64,6.651156e-65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-0.044597,0.114171,0.007664,0.005005,150.400388,16.620356,1.188470e-63,-1.477018e-55,-2.410473e-64,4.687311e-65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-0.051219,0.063404,0.011776,0.006947,132.073199,16.057825,3.642379e-63,-3.547694e-55,-7.194534e-64,1.377226e-64,...,-815.216013,0.014115,0.012633,0.026964,-0.229188,0.123038,3.336818e-63,-1.662561e-56,-5.984410e-64,1.078215e-64
4,-0.004835,0.081331,0.011237,0.014570,-92.874482,-84.581812,1.415496e-63,-1.786879e-55,-2.876446e-64,5.598169e-65,...,713.977471,0.037030,0.018838,0.062614,-0.364766,-0.041856,-2.740036e-62,2.676253e-54,5.391793e-63,-1.030000e-63

In [8]:
MOFAClustering(n_clusters = 3).fit_predict(imvd)

array([0, 1, 2, 0, 1, 0, 0, 0, 2, 0, 2, 2, 2, 2, 1, 0, 2, 0, 2, 2, 1, 2,
       2, 2, 0, 2, 0, 2, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 1,
       2, 0, 2, 2, 0, 2, 2, 0, 0, 2, 1, 0, 1, 1, 1, 0, 1, 2, 2, 1, 2, 1,
       2, 2, 1, 0, 2, 0, 2, 2, 0, 0, 2, 1, 0, 2, 1, 2, 1, 1, 0, 0, 1, 2,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 2, 0], dtype=int32)