In [1]:
cd ../src

/home/alberto/Work/incomplete_multiview_clustering/src

In [2]:
from algorithms.msv import MSV
from utils.utils import RandomMultiviewDataset

We create a random multi-view dataset with 10 samples.

In [3]:
rmd = RandomMultiviewDataset()
mvd = rmd.create_mvd(n_samples = 100, n_features = [10, 50, 100], n_clusters = [3, 4, 2])
sample_views = rmd.add_sample_views(mvd = mvd, p = [0.2, 0.3, 0.5])
imvd = rmd.add_missing_views(mvd = mvd, sample_views = sample_views)
for data in imvd:
    display(data.head())

,0,1,2,3,4,5,6,7,8,9
0,4.456711,-3.538403,-6.736375,6.916181,-3.068229,-3.031407,-1.677363,8.605553,-2.843963,-2.360043
1,5.843779,-3.281781,-2.326435,4.516286,-2.258272,-3.872960,-2.347641,0.880912,6.289344,2.349407
3,5.889073,-1.418969,-1.666423,8.257483,-5.628737,-3.206309,6.472990,3.300576,1.247927,6.011139
4,4.211717,-0.688877,-5.767209,6.047954,-0.856979,-7.358224,1.835557,11.270585,-3.584774,-1.220385
5,4.955986,-2.642802,-4.193015,4.811573,-2.390042,-6.553502,-0.008898,10.323795,-2.581054,-2.869644

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,-0.131824,5.595623,-9.120047,-9.221270,2.845202,5.112037,2.291593,0.617069,-2.096738,-0.394144,...,-8.836373,-7.334155,3.982593,9.927453,10.161561,-1.892222,6.682411,7.656987,-1.121726,-0.887247
1,6.156949,-2.365852,8.409749,-2.390209,1.928625,-9.616293,0.267897,6.290237,-2.550851,5.608344,...,-1.178792,-0.861035,4.615262,-7.254587,1.161466,-2.992428,3.942668,-8.593420,8.986850,6.066337
2,5.258815,-2.478589,9.554659,-2.116423,0.043518,-10.376778,2.730959,5.787205,-4.050118,6.747583,...,-1.323798,1.492898,6.445128,-5.148703,2.052313,-4.301626,4.506218,-9.008387,8.294741,7.577428
4,5.753742,-3.386085,6.735144,-2.506852,0.830176,-7.180346,1.738259,5.680496,-4.014226,6.956500,...,-1.437525,-1.519468,5.009843,-5.492631,0.322881,-3.474090,6.853883,-6.798866,6.214264,6.519361
6,6.185028,-2.834884,8.328620,-2.216404,1.429405,-7.795569,1.919667,5.694912,-4.285288,4.960529,...,0.031999,0.530672,5.600214,-4.245044,0.175149,-3.570445,4.091745,-7.981743,7.751369,6.488840

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
1,-3.177690,3.174399,-1.101368,-3.905427,-10.213996,-5.738909,-1.824582,10.587999,8.034064,-5.182261,...,3.835295,8.384157,2.726328,6.578394,1.387052,-1.178213,-1.893167,9.633185,3.418985,2.955233
4,-1.060733,4.376256,1.123862,-9.790197,-5.637757,7.904896,0.356349,-7.206508,-6.100048,-5.191573,...,-1.776691,1.393452,6.310590,9.646984,10.644639,-4.694045,-4.948600,-5.143510,-5.777572,7.482015
7,-2.638970,6.222898,0.821334,-2.850763,-8.529673,-5.146517,-3.196760,9.037693,8.814063,-3.939741,...,6.002120,10.151313,2.183526,5.641919,0.260842,-1.522342,-1.749344,9.321592,2.109119,1.088555
9,-2.229284,5.701119,-0.143056,-10.691345,-5.437667,9.323352,0.830934,-6.872264,-7.529860,-5.372724,...,-2.818218,2.526309,6.562791,11.258980,9.612394,-4.253547,-3.739405,-4.102614,-5.676473,7.663349
10,-1.857145,3.718520,-2.118364,-4.980135,-9.141338,-3.672179,-2.883995,9.490452,6.462865,-6.268864,...,4.362039,5.499641,2.655246,4.092668,-0.697095,-1.652757,-2.221616,7.758764,4.306140,2.312280

Now we will remove some views from the samples.

In [4]:
estimator = MSV(n_clusters = [3, 2, 2])
estimator.fit(X = imvd)

/home/alberto/anaconda3/envs/imc/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/alberto/anaconda3/envs/imc/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/alberto/anaconda3/envs/imc/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [5]:
estimator.predict(X = imvd)

array([[2, 0, 2, 1, 2, 2, 1, 2, 1, 2, 2, 2, 0, 2, 2, 0, 2, 0, 0, 1, 0, 2,
        2, 0, 1, 1, 0, 2, 1, 0, 2, 0, 1, 2, 2, 2, 0, 0, 1, 1, 0, 2, 2, 0,
        1, 2, 2, 1, 1, 0, 2, 1, 2, 2, 1, 2, 2, 2, 2, 0, 0, 0, 2, 1, 0, 1,
        2, 0, 0, 2, 2, 0, 1, 1, 1, 2, 0, 0, 1, 2, 0, 1, 2, 2, 2, 1, 1, 1,
        1, 2, 2, 0, 2, 2, 1, 2, 2, 2, 2, 2],
       [0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
        1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1,
        1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1]], dtype=int32)