In [1]:
from algorithms.msv import MSV
from utils.utils import RandomMultiviewDataset

We create a random multi-view dataset with 10 samples.

In [2]:
rmd = RandomMultiviewDataset()
mvd = rmd.create_mvd(n_samples = 100, n_features = [10, 50, 100], n_clusters = [3, 4, 2])
sample_views = rmd.add_sample_views(mvd = mvd, p = [0.2, 0.3, 0.5])
imvd = rmd.add_missing_views(mvd = mvd, sample_views = sample_views)
for data in imvd:
    display(data.head())

,0,1,2,3,4,5,6,7,8,9
0,-6.903106,1.481903,2.293225,7.208443,1.725441,-7.666737,2.594111,-5.384025,4.308739,6.395344
1,-1.774328,-3.187325,3.909281,9.552811,11.455748,-5.386407,-1.140670,7.089225,-2.727758,6.995247
2,4.588799,12.266383,7.899734,4.948297,3.195675,-8.260106,7.586066,-6.568726,-5.366923,5.154204
3,-0.322380,-6.991177,5.368253,7.140352,8.323382,-5.862667,-2.190789,6.848319,-5.906144,6.448752
4,-6.444679,3.670078,2.287267,6.942425,2.622021,-8.570985,0.943342,-4.213163,4.045540,6.266387

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,6.357460,-1.495668,-11.055673,-6.303419,9.571361,-8.207812,6.243211,5.774264,-3.330898,-1.639576,...,-4.860759,-1.618642,7.729356,-7.113375,1.629795,-8.172425,-1.922727,6.176479,4.871226,-2.618372
1,-0.977143,-3.099566,-7.637480,4.215425,0.040716,8.887584,6.962615,-5.077993,-5.099430,-2.960657,...,-6.970735,0.072063,3.276995,0.896107,8.103104,-8.742824,5.799223,-5.492604,2.722089,-7.707902
2,-2.182879,-5.108557,-8.311509,4.973181,-1.864095,7.971865,6.768684,-4.112837,-5.651677,-4.122585,...,-8.427932,-2.838061,2.715541,0.776519,8.167590,-7.643965,5.102989,-3.818070,2.906761,-9.449465
3,-7.994925,-3.027300,9.978751,0.650602,-9.175291,3.875708,7.786772,-8.646368,4.935039,4.179643,...,10.652400,-9.115974,10.670797,-5.649692,2.689190,1.809676,4.207688,-0.537867,2.199768,7.072188
5,-5.821780,-4.361103,10.100558,-2.646890,-7.710099,4.394758,9.178595,-7.986785,5.838494,3.857321,...,7.706426,-9.544255,9.649757,-5.528461,2.360308,0.459196,4.754219,-2.969561,0.305238,7.473748

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,6.843134,1.499034,-9.030119,7.737447,1.126935,2.047891,8.022207,-1.804132,-4.461198,1.643611,...,-1.076008,4.462126,8.960361,-6.108444,6.371996,2.186660,6.299907,6.778994,5.392850,4.843799
1,5.941217,-0.221318,-8.414930,8.663952,1.897452,2.871928,6.970573,-3.149755,-3.984108,2.359108,...,-3.051970,3.033341,9.287663,-6.790530,4.298929,-0.423487,6.531666,5.746810,5.934379,4.839337
2,-2.227342,-2.431967,-0.997067,-1.482158,10.632727,-7.589795,1.344150,-6.009049,10.376472,-6.952547,...,1.980279,5.666359,5.967051,0.923571,-0.897698,-7.748638,-0.023424,-4.999714,2.202339,2.274002
3,5.947208,-0.436303,-9.999980,8.548007,0.873908,3.486699,7.555862,-4.276457,-1.875884,0.901873,...,-0.324566,5.837902,8.644556,-6.625278,6.450630,2.275414,5.313657,4.985128,4.347605,5.342600
6,7.074630,0.647843,-6.700290,7.665802,0.111382,3.611492,6.949230,-3.418205,-3.903592,2.057669,...,-1.801882,5.816125,11.538890,-6.036402,5.898846,1.757982,4.251876,6.536314,3.559880,5.230058

Now we will remove some views from the samples.

In [3]:
estimator = MSV(n_clusters = [3, 3, 3])
estimator.fit(X = imvd)

/home/alberto/anaconda3/envs/imc/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/alberto/anaconda3/envs/imc/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/alberto/anaconda3/envs/imc/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [4]:
estimator.predict(X = imvd)

array([[1, 2, 0, 2, 1, 1, 1, 0, 1, 2, 1, 2, 0, 1, 0, 1, 2, 0, 0, 2, 2, 1,
        1, 1, 0, 0, 1, 1, 1, 1, 2, 1, 0, 1, 1, 2, 0, 1, 2, 1, 1, 1, 2, 2,
        0, 2, 2, 1, 0, 2, 2, 2, 2, 2, 0, 1, 1, 1, 2, 1, 0, 1, 2, 2, 0, 0,
        1, 0, 0, 0, 1, 1, 0, 2, 0, 0, 1, 0, 2, 1, 1, 1, 1, 0, 0, 2, 2, 1,
        0, 0, 1, 1, 1, 1, 0, 2, 0, 0, 2, 1],
       [1, 0, 0, 2, 0, 2, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 2,
        0, 1, 2, 1, 0, 0, 2, 2, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0,
        0, 0, 2, 0, 0, 2, 2, 2, 0, 2, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0,
        1, 2, 0, 0, 1, 0, 2, 2, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
        2, 0, 2, 0, 0, 0, 0, 1, 0, 2, 0, 2],
       [0, 0, 2, 0, 1, 1, 0, 0, 2, 1, 2, 2, 1, 1, 2, 1, 1, 1, 2, 0, 1, 1,
        0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 0, 2, 2, 1, 0, 2, 1,
        1, 1, 1, 1, 2, 1, 1, 1, 0, 0, 1, 2, 1, 1, 0, 0, 1, 2, 0, 0, 2, 0,
        0, 1, 0, 0, 0, 1, 1, 2, 2, 1, 1, 1, 2, 0, 2, 2, 1, 1, 1, 2, 0, 1,
        1, 0, 0, 2, 1, 1, 0, 1, 1, 2, 0, 1]], dtype=int32)