In [1]:
cd ../src

/home/alberto/Work/incomplete_multiview_clustering/src

In [2]:
from transformers import FillMissingViews, DropView, SingleView, ConvertToNM, MultiViewTransformer
from sklearn.preprocessing import StandardScaler, RobustScaler
from datasets import load_incomplete_nutrimouse
from sklearn.pipeline import make_pipeline
from IPython.display import display
from mvlearn.datasets import load_nutrimouse

In [3]:
Xs = load_incomplete_nutrimouse(p = 0.2)
for X in Xs:
    print(X.shape)
    display(X.head())

(29, 120)

,X36b4,ACAT1,ACAT2,ACBP,ACC1,ACC2,ACOTH,ADISP,ADSS1,ALDH3,...,cHMGCoAS,cMOAT,eif2g,hABC1,iBABP,iBAT,iFABP,iNOS,mABC1,mHMGCoAS
0,-0.42,-0.65,-0.84,-0.34,-1.29,-1.13,-0.93,-0.98,-1.19,-0.68,...,-1.15,-0.78,-1.23,-1.16,-0.78,-1.65,-1.14,-1.24,-0.85,-0.03
1,-0.44,-0.68,-0.91,-0.32,-1.23,-1.06,-0.99,-0.97,-1.00,-0.62,...,-0.95,-0.73,-1.02,-1.11,-0.73,-1.67,-1.03,-1.20,-0.84,-0.12
2,-0.48,-0.74,-1.10,-0.46,-1.30,-1.09,-1.06,-1.08,-1.18,-0.75,...,-0.93,-0.89,-1.14,-1.25,-0.89,-1.89,-1.16,-1.35,-0.96,-0.12
3,-0.45,-0.69,-0.65,-0.41,-1.26,-1.09,-0.93,-1.02,-1.07,-0.71,...,-1.10,-0.93,-1.10,-1.17,-0.82,-1.70,-1.17,-1.25,-0.87,-0.12
4,-0.42,-0.71,-0.54,-0.38,-1.21,-0.89,-1.00,-0.95,-1.08,-0.76,...,-0.94,-0.84,-1.10,-1.14,-0.71,-1.68,-1.15,-1.20,-0.82,-0.29

(36, 21)

,C140,C160,C180,C161n9,C161n7,C181n9,C181n7,C201n9,C203n9,C182n6,...,C202n6,C203n6,C204n6,C224n6,C225n6,C183n3,C203n3,C205n3,C225n3,C226n3
0,0.34,26.45,10.22,0.35,3.10,16.98,2.41,0.26,0.00,8.93,...,0.00,0.78,3.07,0.00,0.00,5.97,0.37,8.62,1.75,10.39
1,0.38,24.04,9.93,0.55,2.54,20.07,3.92,0.23,0.00,14.98,...,0.30,1.64,15.34,0.58,2.10,0.00,0.00,0.00,0.48,2.61
2,0.36,23.70,8.96,0.55,2.65,22.89,3.96,0.26,0.19,16.06,...,0.33,1.51,13.27,0.54,1.77,0.00,0.00,0.00,0.22,2.51
4,0.37,24.80,9.63,0.46,2.85,21.38,2.96,0.30,0.27,14.55,...,0.23,1.58,11.85,0.32,0.44,0.42,0.00,0.30,0.35,6.69
5,1.70,26.04,6.59,0.66,7.26,28.23,8.99,0.36,2.89,3.47,...,0.00,0.81,5.09,0.00,0.56,0.00,0.00,0.00,2.13,2.56

In [4]:
transformer = MultiViewTransformer(transformer = ConvertToNM())
transformed_Xs = transformer.fit_transform(Xs)
for X in transformed_Xs:
    print(X.shape)
    display(X.head())

(29, 240)

,X36b4_pos,ACAT1_pos,ACAT2_pos,ACBP_pos,ACC1_pos,ACC2_pos,ACOTH_pos,ADISP_pos,ADSS1_pos,ALDH3_pos,...,cHMGCoAS_neg,cMOAT_neg,eif2g_neg,hABC1_neg,iBABP_neg,iBAT_neg,iFABP_neg,iNOS_neg,mABC1_neg,mHMGCoAS_neg
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.15,0.78,1.23,1.16,0.78,1.65,1.14,1.24,0.85,0.03
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.95,0.73,1.02,1.11,0.73,1.67,1.03,1.20,0.84,0.12
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.93,0.89,1.14,1.25,0.89,1.89,1.16,1.35,0.96,0.12
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.10,0.93,1.10,1.17,0.82,1.70,1.17,1.25,0.87,0.12
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.94,0.84,1.10,1.14,0.71,1.68,1.15,1.20,0.82,0.29

(36, 21)

,C140,C160,C180,C161n9,C161n7,C181n9,C181n7,C201n9,C203n9,C182n6,...,C202n6,C203n6,C204n6,C224n6,C225n6,C183n3,C203n3,C205n3,C225n3,C226n3
0,0.34,26.45,10.22,0.35,3.10,16.98,2.41,0.26,0.00,8.93,...,0.00,0.78,3.07,0.00,0.00,5.97,0.37,8.62,1.75,10.39
1,0.38,24.04,9.93,0.55,2.54,20.07,3.92,0.23,0.00,14.98,...,0.30,1.64,15.34,0.58,2.10,0.00,0.00,0.00,0.48,2.61
2,0.36,23.70,8.96,0.55,2.65,22.89,3.96,0.26,0.19,16.06,...,0.33,1.51,13.27,0.54,1.77,0.00,0.00,0.00,0.22,2.51
4,0.37,24.80,9.63,0.46,2.85,21.38,2.96,0.30,0.27,14.55,...,0.23,1.58,11.85,0.32,0.44,0.42,0.00,0.30,0.35,6.69
5,1.70,26.04,6.59,0.66,7.26,28.23,8.99,0.36,2.89,3.47,...,0.00,0.81,5.09,0.00,0.56,0.00,0.00,0.00,2.13,2.56

In [5]:
FillMissingViews(value= 'mean').fit(Xs).features_view_mean_list_

[X36b4      -0.450345
 ACAT1      -0.656207
 ACAT2      -0.762414
 ACBP       -0.431034
 ACC1       -1.250000
               ...
 iBAT       -1.685862
 iFABP      -1.113793
 iNOS       -1.233448
 mABC1      -0.873103
 mHMGCoAS   -0.201034
 Length: 120, dtype: float64,
 C140       0.672222
 C160      23.012500
 C180       7.063611
 C161n9     0.644444
 C161n7     4.077778
 C181n9    24.321667
 C181n7     3.981389
 C201n9     0.289722
 C203n9     0.326389
 C182n6    15.717778
 C183n6     0.398889
 C202n6     0.195278
 C203n6     0.811667
 C204n6     5.637500
 C224n6     0.199722
 C225n6     0.476944
 C183n3     3.156389
 C203n3     0.099167
 C205n3     1.893611
 C225n3     0.933333
 C226n3     6.090000
 dtype: float64]

In [6]:
drop_view_imvd = DropView(view_idx= 1).transform(X = Xs)
for data in drop_view_imvd:
    display(data.head())

TypeError: DropView.__init__() got an unexpected keyword argument 'view_idx'

In [ ]:
sv = SingleView(view_idx= 1).transform(X = Xs)
sv.head()

In [ ]:
make_pipeline(FillMissingViews(value= 'mean'), SingleView(view_idx= 1)).fit_transform(Xs).head()

In [ ]:
pipeline = make_pipeline(
    FillMissingViews(value= 'mean'),
    MultiViewTransformer(transformer = [StandardScaler().set_output(transform = 'pandas'),
                                        RobustScaler().set_output(transform = 'pandas')]),
    SingleView(view_idx= 1))
pipeline.fit_transform(Xs).head()