In [1]:
cd ..

/home/alberto/Work/incomplete_multiview_clustering/src

In [2]:
from imvc.utils import RandomMultiviewDataset
from algorithms import MOFAClustering

In [3]:
rmd = RandomMultiviewDataset()
mvd = rmd.create_mvd(n_samples = 100, n_features = [10, 50, 100], n_clusters = [3, 4, 2])
sample_views = rmd.add_sample_views(mvd = mvd, p = [0.2, 0.3, 0.5])
imvd = rmd.add_missing_views(mvd = mvd, sample_views = sample_views)
for data in imvd:
    print(data.shape)
    display(data.head())

(81, 10)

,0,1,2,3,4,5,6,7,8,9
0,-4.243079,-5.381786,3.191759,-1.789301,2.865012,-4.750870,-3.000075,9.183092,7.078484,-2.015387
1,-10.843871,-3.492325,-2.153758,-10.134655,-3.302633,-3.519777,-1.407169,-8.041374,4.710063,-8.592662
4,-3.815889,-5.963862,2.040530,-0.647569,3.992008,-6.582311,-0.498573,8.215347,5.459055,-3.518423
5,-9.304876,-3.533441,-1.806348,-9.019002,-0.181761,-6.366738,-0.961809,-8.533331,3.585375,-7.517685
6,-3.196835,-6.993821,2.572746,-1.614979,3.268243,-7.125035,-0.827264,9.041858,8.349343,0.257639

(70, 50)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,5.001839,9.279014,-2.178337,-7.566701,-5.105380,-1.829756,-2.728105,-5.468036,-9.449539,-7.273530,...,3.499791,-7.383676,-4.032439,10.550497,5.759468,10.419611,8.993737,-10.237438,6.286282,6.882923
1,1.007975,-8.601932,-6.747832,3.012273,6.687417,-6.722282,4.725571,7.194193,-6.910333,-0.072661,...,8.831520,7.995550,5.616513,6.317554,-0.846059,9.796481,-6.877419,0.727926,-3.323852,6.961839
3,2.744796,-1.992707,3.938790,5.390750,-0.843254,0.504595,7.352701,-8.918790,9.014737,3.525591,...,-6.967506,-7.273320,-6.652688,9.265355,7.107414,8.440833,5.672764,5.706956,0.821405,-5.962068
4,3.079379,9.110598,-2.614541,-6.221348,-3.199432,-1.682906,-3.487149,-4.629871,-7.868932,-6.215330,...,2.497043,-4.784176,-4.410579,9.149591,4.000637,10.322437,7.468231,-10.738600,7.509109,8.021490
5,1.839414,-9.847888,-6.739965,6.353493,6.046477,-9.127131,5.974861,8.176589,-8.516219,-0.108279,...,11.716850,7.639647,3.678875,7.321790,-1.091753,10.052614,-6.779909,1.828354,-0.775736,7.445629

(58, 100)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
1,8.273647,-3.147392,4.242672,4.362358,-7.867287,3.277809,8.989850,6.488126,6.911989,-4.741804,...,1.555391,-0.295330,-8.951626,-8.448124,-6.277351,-0.492754,-4.658798,6.789874,4.768764,6.161095
2,8.791842,-3.219247,4.067444,3.896852,-7.975191,3.148807,8.783594,5.461894,9.076535,-4.055528,...,2.926062,-0.154874,-9.065167,-9.253012,-3.958651,0.347876,-5.258211,8.073576,6.707842,5.964089
4,7.489135,-2.969665,3.866729,3.171596,-7.901774,2.783140,6.666433,3.959962,9.456176,-4.708910,...,3.181082,-1.321422,-9.191714,-10.031292,-5.383092,0.528275,-4.852394,8.787039,5.564661,4.161492
6,-2.213632,-9.502208,8.101518,6.821187,-4.666812,-6.330153,0.774910,-4.669014,-5.109490,3.659601,...,-4.660379,6.636791,5.819235,-2.036150,3.413077,9.858233,4.573692,7.852326,-4.773504,9.587525
7,-1.871906,-9.501462,9.239619,6.717066,-7.901690,-7.034795,-0.668357,-3.168077,-3.520978,2.565981,...,-3.347501,6.003967,7.119423,-3.979297,3.418580,8.840032,3.780309,9.156989,-5.030957,9.593533

In [4]:
MOFAClustering(kmeans__n_clusters = 3).fit_predict(imvd)

array([0, 0, 0, 0, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 1, 0, 2, 0, 1, 1, 0, 2,
       0, 0, 0, 0, 2, 1, 1, 0, 0, 0, 1, 2, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 2, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1], dtype=int32)